<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Project</title>
</head>

<body>
    <h1>Rent Prediction</h1>
    <hr>

    <form method="POST" action="http://127.0.0.1:5000/prediction">

        <br>balcony <input type="number" name="b" />
        <br>hasKitchen : <input type="number" name="k" />
        <br>cellar : <input type="number" name="c" />
        <br>livingSpace : <input type="number" name="ls" />
        <br>noRooms : <input type="number" name="nr" />
        <br>garden: <input type="number" name="g" />
        <br>bestcondition : <input type="number" name="con" />
        <br>big_cities : <input type="number" name="bc" />
        <br> small_cities: <input type="number" name="sc" />
        <br>interiorQual : <input type="number" name="iq" />
        <br>lift : <input type="number" name="l" />
        <br>newlyConst : <input type="number" name="nc" />
        <br>
        <input type="submit" value="Classify" />


    </formmethod>>
</body>

</html>